<form data-shortener-url="{link short! url => '__REPLACE__', token => $token}">
	<h2 data-shortener-status>Just put URL and press the button!</h2>
	<input type="text" class="jumbo-input">
	<p class="lead">
		<input type="submit" class="btn btn-lg btn-success" href="#short-it" role="button" value="Short it!">
		<button type="button" data-shortener-copy class="btn btn-lg btn-primary" style="display: none">Copy</button>

	</p>
</form>