rabbitmq:
	connection:
		host: localhost
		port: 5672
		user: 'guest'
		password: 'guest'
		vhost: '/'

	producers:
		mailSend:
			connection: default
			exchange: {name: 'sh-mail-send', type: direct}
			queue: {name: 'sh-mail-send'}
		linkStats:
			connection: default
			exchange: {name: 'sh-link-stats', type: direct}
			queue: {name: 'sh-link-stats'}

	consumers:
		linkStats:
			connection: default
			exchange: {name: 'sh-link-stats', type: direct}
			queue: {name: 'sh-link-stats'}
			callback: @Shortener\RabbitMQ\Consumer\LinkStatConsumer::process

services:
	#consumers
	linkStatConsumer: Shortener\RabbitMQ\Consumer\LinkStatConsumer

	#producers
	Producers: Shortener\RabbitMQ\Producers(
		@rabbitmq.producer.mailSend,
		@rabbitmq.producer.linkStats
	)