{dump $data}
<div id="{\Nette\Utils\Random::generate()}" data-graph="bars" data-graph-data="{json_encode($data['data'])}" data-graph-xkey="{$data['xkey']}" data-graph-ykeys="{json_encode($data['ykeys'])}" data-graph-labels="{json_encode($data['labels'])}">

</div>